*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: rgb(10, 77, 170);
    color: rgb(255, 255, 255);

}
body{
    background-color: #EEEEEE;
}





@media only screen and (min-width: 576px) and (max-width:767px) {

}
@media only screen and (min-width: 768px) and (max-width:991) {

}
@media only screen and (min-width: 992px) and (max-width:1199) {

}
@media only screen and (min-width: 1200) and (max-width:1399) {

}
@media only screen and (min-width: 1400){

}