*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
}
hr{
    display: block;
    width: 70%;
    border-width: 1px;
    margin-top: 10px;
}
.page, .header, article, aside{
    display: flex;
    align-items:center;
    justify-content:center;
}
.page, article,aside{
    flex-direction: column;
}
.header{
    display: flex;
    background-color: rgb(10, 77, 170);
    color: rgb(255, 255, 255);
    height: 150px;
}
.page,aside{
    width:90%;
    margin: 0 auto;
}
.profilo{
    display: flex;
    height:300px;
    width:220px;
}
article{
    width:100%;
}
h2,h3,p{
    text-transform: uppercase;
}
h2,h3{
    margin-top:20px;

}
p{
    margin-top:10px;
    width:100%;
    text-align:center;
}
ul{
    width:80%;
}
a{
    text-decoration:none;
    color: rgb(10, 77, 170);
}





@media only screen and (min-width: 576px) and (max-width:767px) {

}
@media only screen and (min-width: 768px) and (max-width:991) {
    .page{
        flex-direction:row;
    }
}
@media only screen and (min-width: 992px) and (max-width:1199) {
    .page{
        flex-direction:row;
    }
}
@media only screen and (min-width: 1200) and (max-width:1399) {
    .page{
        flex-direction:row;
    }
}
@media only screen and (min-width: 1400){
    .page{
        flex-direction:row;
    }
}